<div class="accordion m-4" id="taches-accordion">
<% Tasks.forEach((task, count) =>{%>

    <div class="card">

        <div class="card-header d-flex" id="heading-<%= count %>">

            <div class="flex-grow-1">
            <a class="card-title" data-toggle="collapse" data-target="#item-<%= task._id %>" aria-expanded="true" aria-controls="#item-<%= task._id %>" style="text-decoration: none; cursor: pointer;">
                <h5 class="card-title"><%= task.projectRef.programRef.name.charAt(0).toUpperCase() + task.projectRef.programRef.name.slice(1) + "/" + task.projectRef.name.charAt(0).toUpperCase() + task.projectRef.name.slice(1) + "/" + task.name.charAt(0).toUpperCase() + task.name.slice(1) %></h5>
            </a>
            </div>
              
            <div class="d-flex">
              <form action="/Tache/delete/<%=task._id %>" method="POST" class="align-self-center">
                <button type="submit" class="fa fa-trash" style="font-size: 1.4em; border: none; background-color: rgba(0, 0, 0, 0.0); color: red;"> <!-- Delete task button -->
              </form>
            </div>
            
        </div>

        <div id="item-<%= task._id %>" class="collapse" aria-labelledby="heading-<%= count %>" data-parent="#taches-accordion">
            <div class="card-body">
                <% if(task.note !== "") { %> 
                    <p style="font-size: 1.2em;"><ins><strong>Notes</strong></ins><br/><%= task.note %></p>
                <% } %>

                <div class="row" style="margin-top: 50px;">

                    <div class="col d-flex flex-column">
                        <h5 class="mb-4">Chercheurs participant à cette tâche</h5>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Adresse mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% task.searchers.forEach(searcher => { %>
                                    <tr>
                                        <td><%- searcher.name.charAt(0).toUpperCase() + searcher.name.slice(1) %></td>
                                        <td><%- searcher.email %></td>
                                    </tr>
                                <% } ) %>
                            </tbody>
                        </table>
                        <hr>
                        <h5 class="mb-4">Ajouter un chercheur à la tâche</h5>
                        <form action="/Tache/AddSearcher/<%=task._id %>" method="POST">
                        <div class="d-flex flex-column">
                                <div class="justify-content-between">
                                    <label for="email">Adresse mail</label>
                                    <input type="email" name="email" placeholder="email@example.com"> <!-- input field -->
                                    <input class="btn btn-sm btn-success" type="submit" value = "Ajouter"> <!-- add searcher button -->
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col d-flex flex-column"> 
                        <h5 class="mb-4">Détails de la tâche</h5>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Statut</th>
                                    <th>Priorité</th>
                                    <% if (task.startingDate) { %><th>Date de début</th><% } %>
                                    <% if (task.endingDate) { %><th>Date de fin</th><% } %>
                                    <% if (task.duration) { %>
                                        <th>Durée</th>
                                        <th>Avancement</th>
                                    <% } %>
                                    <!-- <th>Sous-taches</th> --><!-- pas encore implémenté -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%= task.name %></td>
                                    <td><%= task.status === 0 ? "En cours" : task.status === 1 ? " Finie" : task.status === 2 ? " En attente" : "<error>"  %></td>
                                    <td><%= task.priority %></td>
                                    <% if (task.startingDate) { %><td><%= `${task.startingDate.getDate()}/${task.startingDate.getMonth()+1}/${task.startingDate.getFullYear()}` %></td><% } %>
                                    <% if (task.endingDate) { %><td><%= `${task.endingDate.getDate()}/${task.endingDate.getMonth()+1}/${task.endingDate.getFullYear()}` %></td><% } %>
                                    <% if (task.duration) { %>
                                        <td><%= `${task.duration / 1000 / 60 / 60}h` %></td>
                                        <td><%= `${Math.round((task.elapsedDuration / task.duration) * 100)}%` %></td>
                                    <% } %>                                    
                                    <!-- <td><insérer sous-tâches></td> --><!-- pas encore implémenté -->
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
<% } ) %>
</div>