<div class="container-fluid">

    <% Tasks.forEach( (task) =>{%>
    <div id="accordion">
      <ul style="margin-top: 20px; padding-inline-start: 0px;">
        <div class="card">
          <div class="card-header d-flex" id="card-header">
            <div class="flex-grow-1">
              <a class="card-title" data-toggle="collapse" data-target="#item-<%= task._id %>" aria-expanded="true" style="text-decoration: none; cursor: pointer;">
                <h5 class="card-title"><%= task.projectRef.name + "/" + task.name.charAt(0).toUpperCase() + task.name.slice(1) %></h5>
              </a>
            </div>
            <div class="d-flex">
              <form action="/Tache/Delete/<%=task._id %>" method="POST" class="align-self-center">
                <button type="submit" class="fa fa-trash fa-1x" style="margin: 0px 10px; border: none; background-color: rgba(0, 0, 0, 0.0);"> <!-- Delete task button -->
              </form>
            </div>
          </div>
          <div class="collapse" id="item-<%= task._id %>"  aria-labelledby="card-head" data-parent="#accordion">
            <div class="card-body" style="padding: 0px;">
              <div class="container-fluid">
                <div class="flex-column">
                  <h6>Description :</h6>
                  <%= task.note || "Aucune description disponible pour ce projet" %>
                </div>
                <div class="row" style="margin-top: 50px;">
                  <div class="col">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col d-flex flex-column"> <!-- First col -->
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>Nom</th>
                                  <th>Archivée</th>
                                  <th>Statut</th>
                                  <th>Date debut</th>
                                  <th>Date fin</th>
                                  <th>Duree</th>
                                  <th>Temps passé</th>
                                  <th>Priorite</th>
                                  <th>Equipe</th>
                                  <th>Avancements</th>
                                  <th>Sous-taches</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><%= task.name %></td>
                                  <td><%= task.isArchived ? "oui" : "non" %></td>
                                  <td><%= task.status === 0 ? "En cours" : task.status === 1 ? " Finie" : task.status === 2 ? " En attente" : "undefined"  %></td>
                                  <td><%= task.startingDate || "aucune" %></td>
                                  <td><%= task.endingDate || "aucune" %></td>
                                  <td><%= task.duration !== null ? (task.duration) + "h" : "N/A" %></td>
                                  <td><%= task.duration !== null ? (task.elapsedDuration) + "h" : "N/A" %></td>
                                  <td><%= task.priority %></td>
                                  <td><%= task.searchers.map((searcher => searcher.name)).join(', ') || "aucun" %></td>
                                  <td><%= task.advancements.join(', ') || "aucun" %></td>
                                  <td>
                                    <ul style="list-style: none; padding-inline-start: 0px;;">
                                      <li> <%= task.subTasks.join(', ') || "aucune" %> </li>
                                    </ul>
                                  </td>
                                </tr>
                                <tr>
                                  <form action="Tache/AddSearcher/<%=task._id %>" method="POST">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th>Ajouter un chercheur a la tache</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <td>
                                          <div class="d-flex flex-column">
                                            <div class="justify-content-between">
                                              <label for="email"> Adresse email :</label>
                                              <input type="email" name="email" placeholder="email@example.com"> <!-- input field -->
                                              <input class="btn btn-sm btn-success" type="submit" value = "Ajouter"> <!-- add searcher button -->
                                              <!-- invisible program id field -->
                                            </div>
                                          </div>
                                        </td>
                                      </tbody>
                                    </table>
                                  </form>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  <% } ) %>
  </div>