<!DOCTYPE html>

<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <div class="container">
            <h1><a><%= title %></a></h1>		
            <form id="my_form" method="post" action="<%= action %>">
                <%for (var input of inputs) { %>
                    <label for="<%= input.id %>"><%= input.name %></label>
                    <input id="<%= input.id %>" name="<%= input.id %>" type="<%= (input.type !== null ? input.type : text) %>"/>
                    <br />
                <% } %>
                <input type="submit" name="submit" value="Valider" />
            </form>
        </div>
    </body>
</html>