<div class="container">
    <h1><%= formTitle %></h1>		
    <form method="POST" action="<%= action %>">
        <%for (var input of inputs) { %>
            <div class="form-group">
                <label for="<%= input.id %>"><%= input.name %></label>
                <input 
                    type="<%= (input.type !== null ? input.type : "text") %>"
                    class="form-control"
                    id="<%= input.id %>"
                    name="<%= input.id %>"
                    value="<%= (input.value !== null ? input.value : null) %>"
                    style= "<%= (input.style !== null ? input.style : null) %>"
                >
            </div>
        <% } %>

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
</div>